@page "/addIntrareDetaliu/{intrareId:decimal}"
@page "/editIntrareDetaliu/{intrareDetaliuId:decimal}/{intrareId:decimal}"
@inject IIntrariDetaliuService _intrariDetaliuService
@rendermode InteractiveServer
@inject DbProject1Context _dbContext

<PageTitle>AddEditIntrareDetaliu</PageTitle>

<div class="col-md-5">
    <EditForm Model="@intrareDetaliu" OnValidSubmit="save" FormName="addEditForm">
        <DataAnnotationsValidator />
            <div class="form-group">
                <label for="Produs"> Produs</label>
                <InputSelect class="form-control" @bind-Value="intrareDetaliu.Produs">
                    <option>-Select produs-</option>
                    @foreach (var result in _dbContext.Produses)
                    {
                        <option value="@result.Id">@result.Denumire</option>
                    }
                </InputSelect>
                <ValidationMessage For="()=> intrareDetaliu.Produs" />
            </div>

            <div class="form-group">
                <label for="Cantitate" name = "Cantitate"> Cantitate</label>
                <InputNumber class="form-control" @bind-Value="intrareDetaliu.Cantitate"></InputNumber>
                <ValidationMessage For="()=> intrareDetaliu.Cantitate" />
            </div>

            <div class="form-group">
                <label for="Valoare"> Valoare</label>
                <InputNumber class="form-control" @bind-Value="intrareDetaliu.Valoare"></InputNumber>
                <ValidationMessage For="()=> intrareDetaliu.Valoare" />
            </div>

        <div class="m-2">
            @message
        </div>

        <div class="m-2">
            <button type="submit" class="btn btn-success btn-sm">Save detaliu</button>
            <a href="/intrari_detaliu/@intrareId" class="btn btn-outline-primary">Show table</a>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public decimal intrareDetaliuId { get; set; }

    [Parameter]
    public decimal intrareId { get; set; }

    [SupplyParameterFromForm]
    public IntrariDetaliu intrareDetaliu { get; set; } = new();

    private string message = string.Empty;
    
    private void save()
    {
        if (_intrariDetaliuService.AddEdit(intrareDetaliu, intrareId))
        {
            message = "Detaliu saved!";
            intrareDetaliu = new();
        }
        else
        {
            message = "Detaliu not saved!";
        }
    }

    protected override void OnInitialized()
    {
        if (intrareDetaliuId > 0)
        {
            intrareDetaliu = _intrariDetaliuService.FindById(intrareDetaliuId);
        }

        base.OnInitialized();
    }
}
